.login-card {
    max-width: 400px;
    margin: 2rem auto;
}

.form-field {
    width: 100%;

    input {
        padding: 0rem 0.5rem;
        font-size: 1rem;

        &::placeholder {
            color: #9e9e9e;
        }
    }

    .hint {
        font-size: 0.75rem;
        color: #f44336;
    }
}

.error {
    color: #f44336;
    margin-top: 0.5rem;
}