<mat-card class="login-card">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="admin" />
            <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                <mat-hint *ngIf="loginForm.get('username')?.hasError('required')" class="hint">
                    Username is required
                </mat-hint>
                <mat-hint *ngIf="loginForm.get('username')?.hasError('minlength')" class="hint">
                    Username must be at least 5 characters
                </mat-hint>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="123456" />
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <mat-hint *ngIf="loginForm.get('password')?.hasError('required')" class="hint">
                    Password is required
                </mat-hint>
                <mat-hint *ngIf="loginForm.get('password')?.hasError('minlength')" class="hint">
                    Password must be at least 6 characters
                </mat-hint>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="form-field" type="submit">Login</button>

        <p *ngIf="errorMessage" class="error">
            {{ errorMessage }}
        </p>
    </form>
</mat-card>
