<h2>Bookmarked Repositories</h2>

<div *ngIf="isLoading">
    Loading...
</div>

<div *ngIf="!isLoading && bookmarks.length === 0">
    No bookmarks.
</div>

<div class="bookmarks-grid">
    <mat-card *ngFor="let repo of bookmarks" class="repo-card" appearance="outlined">
        <mat-card-header>
            <div *ngIf="repo.avatarUrl" mat-card-avatar class="avatar">
                <img [src]="repo.avatarUrl" alt="avatar" />
            </div>
            <div *ngIf="!repo.avatarUrl" mat-card-avatar class="avatar">
                no-image
            </div>
            <mat-card-title>{{ repo.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p>{{ repo.description || 'No description' }}</p>
        </mat-card-content>

    </mat-card>
</div>
